In [1]:
import pandas as pd

import numpy as np

,CDM project reference number,HostParty,Issuance process ID,Issuance date,Monitoring report started,Monitoring report ended,Units - Total
0,8784,IN,4KEarth1568615888.93,2020-06-05,2017-04-01,2019-07-31,20519
1,3779,IN,4KEarth1568616446.5,2020-06-08,2017-04-01,2019-07-31,18925
2,3541,IN,4KEarth1585297661.77,2021-04-08,2018-01-01,2019-12-31,24595
3,8712,TH,4KEarth1596186178.27,2021-02-17,2018-01-01,2020-03-21,43219
4,4818,IN,4KEarth1599113457.49,2022-06-09,2015-04-01,2017-12-31,116637
...,...,...,...,...,...,...,...
12543,4776,IN,sergeyf731618828753.52,2022-03-21,2016-09-01,2017-09-30,1231148
12544,4776,IN,sergeyf731618828921.37,2022-03-21,2017-10-01,2018-12-08,1128556
12545,7834,CN,sergeyf731650363867.4,2022-11-24,2016-10-01,2017-06-30,434350
12546,7981,IN,slenzen1552989570.98,2020-02-06,2017-01-01,2019-01-31,102514
12547,1506,BR,sleyh1563531122.32,2019-12-18,2018-07-25,2019-04-30,51790